@()(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>PageNation Sample</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-theme.min.css")">
  </head>
  <body>

    <div class="container-fluid">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation" class=""><a href="@routes.Application.initData">データ初期化</a></li>
        <li role="presentation" class=""><a href="@routes.Application.deleteAll">データ全件削除</a></li>
      </ul>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
            @content
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; &#64;omiend</p>
      </footer>
    </div>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>

  </body>
</html>
