@(pageNation: PageNation[_])
<nav>
  <ul class="pagination">
    <li class="@if(pageNation.currentPageNum==1){active}"><a href="@routes.Application.index(1)">&laquo;</a></li>
    @for(page <- pageNation.pageNumList){<li class="@if(pageNation.currentPageNum==page){active}"><a href="@routes.Application.index(page)">@page</a></li>}
    <li class="@if(pageNation.currentPageNum==pageNation.maxPageNumber){active}"><a href="@routes.Application.index(pageNation.maxPageNumber)">&raquo;</a></li>
  </ul>
</nav>
